<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/cad.css">
    <title>Cadastro</title>
</head>

<body>
    <div id="container">
        <img src="/images/icone.png" alt="Icone">
        <h1>Novo Cadastro</h1>
                <form id="newCadUser" action="">
                    <input name="nome" type="text" id="nome" placeholder="Nome">
                    <input name="sobnome" type="text" id="sobnome" placeholder="Sobrenome">
                    <input name="infEmail" type="email" id="text" placeholder="Informe seu E-mail">
                    <input name="confEmail" type="email" id="text" placeholder="Confirme seu E-mail">
                    <input name="infSenha" type="password" id="infSenha" placeholder="Informe sua Senha">
                    <input name="confSenha" type="password" id="confSenha" placeholder="Confirme sua Senha">

                    <h2>Você se considera?</h2>
                    <input type="radio" id="male" name="gender" value="homem">
                    <label for="male">Homem</label><br>
                    <input type="radio" id="female" name="gender" value="mulher">
                    <label for="female">Mulher</label><br>
                    <input type="radio" id="other" name="tipo" value="outros">
                    <label for="other">Não binário</label>

                    <button id="voltar">VOLTAR</button>
                    <button id="cad">CADASTRAR</button>
        </form>
    </div>
</body>

</html>