<!DOCTYPE html>
<html lang="pt-br">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/public/styles/cad.css">
  <link rel="stylesheet" href="/public/styles/main.css">
  <title>Cadastro</title>
</head>

<body>
  <div id="container">
    <a href="index.html">
      <img src="/images/icone.png" alt="Icone">
    </a>
    <h1>Novo Cadastro</h1>
    <form id="newCadUser" action="">
      <input name="nome" type="text" id="nome" placeholder="Nome">
      <input name="sobnome" type="text" id="sobnome" placeholder="Sobrenome">
      <input name="infEmail" type="email" id="infEmail" placeholder="Informe seu E-mail">
      <input name="confEmail" type="email" id="confEmail" placeholder="Confirme seu E-mail">
      <input name="infSenha" type="password" id="infSenha" placeholder="Informe sua Senha">
      <input name="confSenha" type="password" id="confSenha" placeholder="Confirme sua Senha">

      <div id="checlBox">
        <h1>Você se considera?</h1>
        <label for="accessible">
          <input type="radio" value="accessible" name="quality" id="accessible">
          <span>Homem</span>
        </label>

        <label for="pretty">
          <input type="radio" value="pretty" name="quality" id="pretty">
          <span>Mulher</span>
        </label>

        <label for="accessible-and-pretty">
          <input type="radio" value="pretty" name="quality" id="accessible-and-pretty" checked>
          <span>Não binário</span>
        </label>
      </div>

      <button id="voltar">VOLTAR</button>
      <button id="cad">CADASTRAR</button>
    </form>
  </div>
</body>

</html>