<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/main.css">
    <title>Login</title>
</head>

<body>
    <div id="container">
        <form action="">
            <img src="/images/icone.png" alt="Icone">
                <input name="email" type="email" id="email">
                <input name="senha" type="password" id="senha">
                <button id="redSenha">Esqueci Minha Senha</button>
                <button id="entrar">Entrar</button>
                <button id="newCad">Quero Me Cadastrar</button>
        </form>
    </div>
</body>

</html>