<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/styles/main.css">
    <link rel="stylesheet" href="/public/styles/styleListCad.css">
    <title>Login</title>
</head>

<body>
    <div id="container">
        <div class="contTabs">
            <img src="/images/icone.png" alt="Icone">
            <h1>Lista de funcinonários</h1>
            <div class="tabDados">
                <table class="table">
                    <thead>
                      <tr>
                        <th></th>
                        <th>Firstname</th>
                        <th>Lastname</th>
                        <th>Email</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td><input type='checkbox' class='select' /></td>
                        <td>John</td>
                        <td>Doe</td>
                        <td>john@example.com</td>
                      </tr>
                      <tr>
                        <td><input type='checkbox' class='select' /></td>        
                        <td>Mary</td>
                        <td>Moe</td>
                        <td>mary@example.com</td>
                      </tr>
                      <tr>
                        <td><input type='checkbox' class='select' /></td>        
                        <td>July</td>
                        <td>Dooley</td>
                        <td>july@example.com</td>
                      </tr>
                    </tbody>
                  </table>

                <button id="entrar">ENTRAR</button>
                <button id="newCad">QUERO ME CADASTRAR</button>
            </div>
        </div>
    </div>
</body>

</html>