
.container {
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
	top: 100%;
	left: 100%;
	transform: translate(-50%, -50%);
}
.contTabs img {
    top: 0;
    width: 160px;
    margin: 50px 0;
}
.contTabs h1 {
    font-size: 24px;
    color: white;
    margin: 25px 0;
}
table {
	min-width: 840px;
	border-collapse: collapse;
	overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.1);
    border-radius: 5px;
}
th, td {
	padding: 10px;
	background-color: rgba(44, 44, 44);
    color: #fff;
}
th, tr {
    border-bottom: 1px solid rgb(196, 196, 196);
}
tr:last-child {
    border-bottom: none;
}
th {
	text-align: left;
}
thead th{
    background-color: rgba(44, 44, 44);
}
tbody tr:hover{
			background-color: rgba(255,255,255,0.3);
    }
input[type='checkbox'] {
    width: 18px;
    height: 18px;
}
#icon {
    margin-right: 0;
}
#icon img {
    width: 14px;
    height: 18px;
    margin: 0 10px 0 0;
    cursor: pointer;
}
#icon img:hover {
    transition: 1s;
    opacity: 60%;
    box-shadow: 1 2 3 4 red;
}

/* --------------------------------------- */
.bt {
    display: flex;
    justify-content: flex-end;

}
.bt #new {
    width: 182px;
    height: 48px;
    background: #6202EE;
    border-radius: 5px;
    border: none;
    margin-top: 15px;
    font-size: 16px;
    color: #FFFFFF;
    cursor: pointer;
    outline:none
}
.bt #new:hover {
    transition: 0.5s;
    background: #812eff;
    box-shadow: black 2px 2px 10px;
    outline:none
}
.bt #rollback {
    width: 182px;
    height: 48px;
    font-weight: 500;
    font-size: 16px;
    background: none;
    border-radius: 5px;
    border: 1px solid #FFFFFF;
    font-size: 16px;
    color: #FFFFFF;
    margin-right: 20px;
    margin-top: 15px;
    cursor: pointer;
    outline:none
}
.bt #rollback:hover {
    transition: 0.5s;
    box-shadow: black 2px 2px 10px;
    border: 1px solid #dddddd;
    color: #dddddd;
    outline:none
}
